.App {
  text-align: center;
}

.App .item-todo {
  padding: 14px;
  width: 250px;
  margin: 0 auto;
  text-align: left;
  margin-top: 15px;
  background: linear-gradient(
    90deg,
    rgb(18, 140, 180) 0%,
    rgb(19, 52, 136) 100%
  );
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.App .imp{

  background: linear-gradient(
    90deg,
    rgb(64, 39, 118) 0%,
    rgb(118, 19, 136) 100%
  );
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.App .item-todo .item-text {
  display: inline-block;
  cursor: pointer;
}

.Tasks{
  padding: 14px;
  width: 250px;
  margin: 0 auto;
  text-align: left;
  margin-top: 15px;
  background: linear-gradient(
    90deg,
    rgb(18, 140, 180) 0%,
    rgb(19, 52, 136) 100%
  );
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.App input {
  padding: 14px 32px 14px 16px;
  margin-top: 15px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #146eaf;
  outline: none;
  background: transparent;
}

.Board{
  border: 2px solid #146eaf;
  margin-top: 15px;
  padding: 14px;
  width: 300px;
  margin: 0 auto;
  text-align: left;
  margin-top: 15px;
  border-radius: 5px;
}

.App button {
  padding: 16px 7px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: linear-gradient(
    90deg,
    rgb(18, 140, 180) 0%,
    rgb(19, 52, 136) 100%
  );
  color: #fff;
  text-transform: capitalize;
}

.App .item-todo .item-delete {
  display: inline-block;
  cursor: pointer;
  float: right;
  font-size: 15px;
  position: relative;
  left: 0px;
  bottom: 34px;
}

.strike {
  text-decoration: line-through;
}

